input {
  width: 50%;
}

textarea {
  width: 100%;
}

.numberInput {
  width: 15%;
}

label {
  width: 100%;
  line-height: 1;
}

div {
  margin: .5em 0em 1.5em 0em;
}

.panel-body {
  background: #f5f5f5;
  margin: 0em;
}

.panel-heading {
  background: grey;
  margin: 0em;
  color: white;
}
