<h2>Current listings</h2>

<div *ngFor="let rental of rentals | async"  class="panel panel-default">
  <div class="panel-body">
    <img src="{{rental.hero}}" alt="" height="250px"><br>
    <h3 (click)=goToDetailPage(rental)><em>{{rental.title}}</em></h3>
    <p>{{rental.street}}<br>
      {{rental.citystatezip}}</p>
    <p>Bedrooms: {{rental.bedroom}}<br>
      Bathrooms: {{rental.bath}}</p>
    <p class="boldUpper">Rent: ${{rental.rent}}<br></p>
    <p class="smallPrint"><span class="boldUpper">{{rental.rentaltype}}</span>: Short-term rents by day (3-day minimum), long-term begins with a one-year lease and rents month-to-month thereafter</p>
  </div>
  <div *ngIf="currentRoute === '/'">
    <button (click)="goToDetailPage(rental)">More Details</button>
  </div>
<div *ngIf="currentRoute === '/admin'">
  <p> {{rental.title}}</p>
  <app-edit-rental [rentalToDisplay]="rental"></app-edit-rental>
</div>
</div>
