.navbar {
  height: 100px;
}

.navbar-header {
  cursor: pointer;
}

.navbar-header svg {
  width: 400px;
  margin-left: 1em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 15px;
}
